<div class="grid">
    <div class="col-6">
        <h1>Aplikace pro podporu výuky v předmětu</h1>
        <p>
            Cílem této aplikace je usnadnit opravování studentských projektů v předmětech, které zastřešuje <a
                href="mailto:dytrych@fit.vut.cz">Ing. Jaroslav Dytrych, Ph.D.</a>. Cílem
            aplikace je umožnit opravujícím vytvořit kurz, včetně všech termínů a kritérií hodnocení. Následně má
            být umožněno naimportovat studenty včetně týmů a provést samotné opravování včetně tvorby
            výkazů pro opravující.
        </p>
    </div>
</div>
