nav {
    background-color: rgb(230, 230, 230);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}
nav * {
    padding-left: 5px;
    padding-right: 5px;
}
nav img {
    max-height: 40px;
}
nav div div{
    display: contents;
}

.router-link-active{
    color: #2c3e50;
}