.p-card {
    box-shadow: 2px 3px 6px 3px rgba(0, 0, 0, 0.5);
    width: 25em;
}
.p-card:hover {
    box-shadow: 2px 3px 6px 3px var(--primary-color);
    cursor: pointer;
    transition: ease-in-out 100ms;
}
